<% content_for :title, "New cliente" %>

<div class="form_cliente">
   <h1>Editar Cliente</h1>

   <div class="form_nuevo_cliente">
      <%= render "form", cliente: @cliente %>
   </div>
</div>

<br>

<div class="botones">  
  <%= link_to "Mostrar cliente", @cliente %> |
  <%= link_to "Ir a clientes", clientes_path %>
</div>
