<p style="color: green"><%= notice %></p>

<% content_for :title, "Clientes" %>

<h1>Clientes</h1>

<%= link_to "+ Agregar Cliente", new_cliente_path, class: "btn_add" %>

<div class="clientes">
  <% @clientes.each do |cliente| %>
   <div class="cliente">
    <%= render cliente %>
   <br>
    <p>
      <%= link_to "Mostrar cliente", cliente, class: "btn_show" %>
    </p>
   </div>
  <% end %>
</div>

