<% content_for :title, "Editing categorium" %>

<h1>Editing categorium</h1>

<%= render "form", categorium: @categorias %>

<br>

<div>
  <%= link_to "Show this categorium", @categorias %> |
  <%= link_to "Back to categoria", categoria_path %>
</div>
