<p style="color: green"><%= notice %></p>

<% content_for :title, "Categoria" %>

<h1>Categoria</h1>

<div id="categoria">
  <% @categorias.each do |categorias| %>
    <%= render categorias %>
    <p>
      <%= link_to "Show this categorium", categorias %>
    </p>
  <% end %>
</div>

<%= link_to "New categorium", new_categorium_path %>
