<% content_for :title, "Editing proveedor" %>

<div class="form_cliente">
<h1>Editing proveedor</h1>

<div class="form_nuevo_cliente">
<%= render "form", proveedor: @proveedor %>
 </div>
<br>

<div class="botones">
  <%= link_to "Show this proveedor", @proveedor %> |
  <%= link_to "Back to proveedors", proveedors_path %>
</div>
