<% content_for :title, "Editing producto" %>

<div class="form_cliente">
   <h1>Editar Producto</h1>

   <div class="form_nuevo_cliente">
      <%= render "form", producto: @producto %>
   </div>

<br>

<div class="botones">
  <%= link_to "Mostrar producto", @producto %> |
  <%= link_to "Ir a productos", productos_path %>
</div>
