<p style="color: green"><%= notice %></p>

<% content_for :title, "Productos" %>

<h1>Productos</h1>

<%= link_to " + Agregar Producto", new_producto_path, class: "btn_add" %>

<div class="clientes">
  <% @productos.each do |producto| %>
      <div class="cliente">
    <%= render producto %>
    <br>
    <p>
      <%= link_to "Show this producto", producto, class: "btn_show" %>
    </p>
   </div>
  <% end %>
</div>

