<% content_for :title, "New producto" %>

<div class="form_cliente">

<h1>Nuevo Producto</h1>

   <div class="form_nuevo_cliente">
      <%= render "form", producto: @producto %>
   </div>
</div>

<br>

<div>
  <%= link_to " 👈 Ir a Productos", productos_path, class: "btn_show" %>
</div>
